body
{
    background:url('bg.jpg');
    background-position:center;
    background-repeat:no-repeat;
    font-family:Arial;
    overflow:hidden;
}
.login_box{
    margin:100px auto; 
    width:300px;
    background-color:#ffffff;
    padding:16px;
    border-radius:20px; 
    text-align:center;
}
.login_box h1{
    text-align:center;
    color:#808080;
    margin-top:46px;
}
.textfield input {
    font-size: 15px;
    padding: 15px 64px 10px 47px;
    border-radius: 25px;
    background: #f2f2f2;
    border: none;
    outline: none;
}
    .textfield input[type='text'] {
        background-image: url('user.png');
        background-size: 23px;
        background-repeat: no-repeat;
        background-position-x: 12px;
        background-position-y: 9px;
    }
    .textfield input[type='password']{
        background-image:url('lock-line.png');
        background-size:18px;
        background-repeat:no-repeat;
        background-position-x:15px;
        background-position-y:10px;
    }
    .check{
        text-align:left;
    }
    .check input[type='checkbox']{
        margin-left:10px;
        word-spacing:10px;
    }
    input[type='button'] {
        padding: 15px 125px 10px 120px;
        border-radius: 25px;
        background: linear-gradient(to bottom right, #febf63 0%, #e46d80 100%);
        border:none;
        color:#fff;
        margin-top:23px;
        font-size: 15px;
        cursor:pointer;
    }
.fpass{
    margin-top:10px;
}
.fpass a:link{
    color:#808080;
    text-decoration:none;
}
.sign{
    color:#808080;
    padding:150px 0px 0px 0px;
}
.sign a:link{
    color:#0021ff;
    text-decoration:none;
}